nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73,79,82);
    color: white;
}

li{
    list-style: none;
    float: left;
    margin-left: 10px;
    color: white;
}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}